*,
*::before,
*::after {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  background: url(background.jpg);
}

html::after {
  background: rgba(255, 255, 255, 0.105);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  color: red;
}

.button {
  width: 80px;
  text-align: center;
  color: #e8c500;
  border: #242424 3px solid;
  background-color: #333333b3;
  border-radius: 3px;
  margin: 5px;
  padding: 5px 0;
  cursor: pointer;
  transition: all 2sec;
}

.button:hover {
  background: #574b03a1;
}

.button > span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.button > kbd {
  font-size: 2.3rem;
  color: white;
  text-shadow: #242424 3px 3px;
  display: block;
}

.played {
  transform: scale(1.1);
  border: #e8c500 3px solid;
}
